/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {

  background: linear-gradient(135.8deg, rgba(9, 9, 10, 0.312) 27.1%, rgba(53, 10, 19, 0.326) 77.5%);
  padding: 2em 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {

  .heroBanner {
    background: linear-gradient(135.8deg, rgba(9, 9, 10, 0.921) 27.1%, rgba(53, 10, 19, 0.948) 77.5%);
    text-align: center;
    padding: 0;
  }

  .bannerImgBack {
    display: none;
  }

  .bannerImgBack img {
    height: 100%;
    width: 100%;
  }
  
  .logoImg {
    width: 10em;
  }

  .cellBannerImg {
    width: 20em;
    margin-top: 1em;
    margin-bottom: -10em;
  }
}

.bannerImgBack {
  z-index: -1;
  position: absolute;
  overflow: hidden;
  width: fit-content;
  height: auto;
}

.bannerImgBack img {
  height: 100%;
  width: 100%;
}

.logoImg {
  width: 15em;
}

.cellBannerImg {
  width: fit-content;
  margin-bottom: -20em;
}

.headerCol {
  margin-bottom: 1rem;
}

.cronogramaBanner {
  background: linear-gradient(135.8deg, rgba(9, 9, 10, 0.908) 27.1%, rgba(61, 11, 22, 0.96) 77.5%);;
  padding: 2em 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.cronogramaImg {
  text-align: center;
  width: 60rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
